// -----------------------------------------
//  APP MAIN
// - - - - - - - - - - - - - - - - - - - - -

.app-main {

  flex: 1 0 auto;

  @include media-breakpoint-up(lg) {

    background: linear-gradient(0deg, rgba(#fff, 1) 0%, rgba(#fff, .2) 100%);
    background-attachment: fixed;

  }

}

.app-content {

  padding: 2rem;
  max-width: calc(1200px - 4rem);
  position: relative;

  @include media-breakpoint-up(lg) {

    margin: 3rem 2rem;

    background-color: var(--WHITE);
    border-radius: .375rem;
    box-shadow: 0 .5rem .75rem rgba(#000, .05);

  }

  @include media-breakpoint-up(xl) {

    margin: 3rem auto;

  }

  &.has-down-up-btns {

    padding-right: 6rem;

  }

}
