// -----------------------------------------
//  APP FOOTER
// - - - - - - - - - - - - - - - - - - - - -

.app-footer {

  flex: 0 0 40px;
  display: flex;

  color: var(--TEXT-DIMED);
  background-color: var(--WHITE);
  border-top: 1px solid var(--BORDER-LIGHT);

  @include media-breakpoint-up(lg) {

    flex: 0 0 48px;

    font-size: 0.875rem;

  }

  a {

    text-decoration: none;

    color: inherit;

    transition: color .2s;

    &:hover {
      color: var(--TXT);
    }

  }

  .dev-nav {

    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;

    a {

      display: inline-block;
      padding: 0 .5em;

    }

  }

}
