/*
 * -----------------------------------------
 *  CUSTOM VARS
 * - - - - - - - - - - - - - - - - - - - - -
 */

:root {

  --CUSTOM-PRIMARY: #3d6294;
  --CUSTOM-SECONDARY: #666;

  --CUSTOM-BACK: var(--GRAY-1);

  --CUSTOM-IMAGE-SM: url('../../wallpapers/foret@1024.jpg');
  --CUSTOM-IMAGE-MD: url('../../wallpapers/foret@1536.jpg');
  --CUSTOM-IMAGE-LG: url('../../wallpapers/foret@2048.jpg');

  --CUSTOM-SHOW-PRIMARY: #f00;
  --CUSTOM-SHOW-RESPONSE-BACK: var(--GRAY-1);
  --CUSTOM-SHOW-RESPONSE-BORDER: var(--BORDER-LIGHT);

}
