// -----------------------------------------
//  MIXINS
// - - - - - - - - - - - - - - - - - - - - -

@import '_mixins/index';

/*
 * -----------------------------------------
 *  LOGIN
 * - - - - - - - - - - - - - - - - - - - - -
 */

.login {

  background-image: var(--CUSTOM-IMAGE-SM, var(--CUSTOM-BACK));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @include media-breakpoint-up(md) {
    background-image: var(--CUSTOM-IMAGE-MD, var(--CUSTOM-IMAGE-SM, var(--CUSTOM-BACK)));
  }

  @include media-breakpoint-up(lg) {
    background-image: none;
  }

  @include media-breakpoint-up(xl) {
    background-image: none;
  }

  .app-header {

    .app-user,
    .app-home,
    .app-menu-toggler {

      display: none !important;

    }

  }

  .app-main {

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(0deg, rgba(#fff, 1) 0%, transparent 100%);

  }

  .login-box {

    width: 280px;
    transform: translateY(-5%);

    background-color: var(--WHITE);
    border-radius: .375rem;
    box-shadow: 0 .5rem .75rem rgba(#000, .05);

    @include media-breakpoint-up(sm) {
      width: 360px;
    }

    @include media-breakpoint-up(lg) {
      transform: translateY(0);
    }

    > * {

      padding: 1.5rem 1.5rem;

    }

    p {

      margin: 0;

      + p {

        margin-top: .5rem;

      }

    }

    a {

      text-decoration: none;

    }

  }

  .login-box--header {

    text-align: center;

    border-bottom: 1px solid var(--BORDER-LIGHT);

    h1, h2, h3, h4, h5, h6 {

      margin: 0;
      // margin-top: .375rem;

      font-size: 1.8rem;

      & + p {

        margin-top: .75rem;

      }

    }

  }

  .alert {

    margin-bottom: 0;

    border: none;
    border-radius: 0;

  }

  .login-box--body {

    text-align: center;

  }

  .login-box--footer {

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid var(--BORDER-LIGHT);

  }

}
