/*
 * -----------------------------------------
 *  UTILS
 * - - - - - - - - - - - - - - - - - - - - -
 */

.html-hidden {
  display: none;
}

.print-hidden,
.pdf-hidden {
  display: none;
}

.custom-color-primary {
  color: var(--CUSTOM-PRIMARY, #3d6294);
}

.custom-color-secondary {
  color: var(--CUSTOM-SECONDARY, #3d6294);
}

.text-dimed {
  color: var(--TEXT-DIMED);
}

.text-muted {
  color: var(--TEXT-MUTED);
}

.text-upper {
  text-transform: uppercase;
}

.text-sm {
  font-size: .875rem;
}

.table-fixed {
  table-layout: fixed;
}

// .ellipsis {
//
//   display: block;
//   max-width: 100%;
//   overflow: hidden;
//
//   text-overflow: ellipsis;
//
// }
